html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

/* Landing Page */
.Home {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../../static/images/starrynight.jpg) no-repeat center center fixed;
    height: 100vh; 
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.LandingContent {
    /* these properties help center the content */
    display: inline-block; 
    width: 50%;
    margin: 18% 25% 0 25%;  
}

.LandingContent > h1 {
    color: white;
    font-size: 55px;
    word-spacing: 5px;
    text-align: center;
    font-family: 'Merienda One', cursive;
    line-height: 50%;
}

.LandingContent > p {
    color: white;
    font-size: 22px;
    word-spacing: 5px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    line-height: 50%;
}

.Introduction {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 1)), url(../../static/images/goldengate.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; 
    width: 100%;
}

.SectionHeader {
    display: inline-block; 
    width: 50%;
    margin: 3% 25% 0 25%;     
}

.SectionHeader > h1 {
    /* color: white; */
    font-size: 55px;
    word-spacing: 10px;
    text-align: center;
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Cardo', serif; */
    font-family: 'Proza Libre', sans-serif;
}

.IntroImage {
    /* border: 5px solid #40e0d0; */
    /* min-width: 150px;
    min-height: 150px; */
    height: 30%;
    width: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    /* display: flex;
    justify-content: space-between;
    vertical-align: middle; */
}

/* .tjhsst {
    display: inline-block;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 27%;
    top: 22%;
} */

.IntroImage > img {
    border: 5px solid white;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    /* text-align: center; */
}

/* .vt {
    display: inline-block;
    height: 30%;
    width: 130px;
    position: absolute;
    left: 20%;
    top: 35%;
} */

.IntroContent {
    /* these properties help center the content */
    display: inline-block; 
    width: 50%;
    margin: 3% 25% 0 25%;  
    /* border: 3px solid red; */
}

.IntroContent > p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 30px;
}

.Employment {
    /* background-color: rgba(244, 239, 239, 0.927); */
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 1)), url(../../static/images/seattle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
    height: auto; 
    width: 100%;
    z-index: 1;
}

.EmploymentContent {
    /* height: 30%; */
    width: 65%;  
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    z-index: 2;
    /* border: 3px solid blue; */
}

.Projects {
    /* background-color: rgba(215, 210, 210, 0.975); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../../static/images/water.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto; 
    width: 100%;
}

.ProjectsContent {
    /* height: 30%; */
    width: 90%;  
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    /* border: 3px solid blue; */
}

.Skills {
    /* background-color: rgba(244, 239, 239, 0.927);  */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../../static/images/mountains.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: auto;  */
    height: auto; 
    width: 100%;
}

.SkillsContent {
    /* height: 30%; */
    width: 90%;  
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    /* border: 3px solid blue; */
}

.Education {
    /* background-color: rgba(244, 239, 239, 0.845);  */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../../static/images/yosemite.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto; 
    width: 100%;
}

.EducationContent {
    /* height: 30%; */
    width: 90%;  
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    /* border: 3px solid blue; */
}

.Contacts {
    background-color: black;
    /* background-color: rgb(21, 20, 31);  */
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../../static/images/yosemite.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto; 
    width: 100%;
}

.ContactsContent {
    /* height: 30%; */
    width: 90%;  
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    /* border: 3px solid blue; */
}